* {
  padding: 0;
  margin: 0;
  color:azure;
  /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
  font-family: Helvetica, sans-serif;
  /* box-sizing: border-box; */
}

body  {
  background-color: #110A08;
}

header {
  background-color: #8ca0ff;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background-color: #353535;
  border-bottom: 2px solid #575757;
  height: 40px;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  /* font-weight: bold; */
  padding: 0 10px;
}

nav a:hover {
  color:burlywood;
}

#above {
  background-color: #243b53;
  margin: 0 auto;
  line-height: 1.2;
  padding: 12px 20px;
}

h1 {
  text-align: center;
}

#above p {
  padding: 8px 0;
}

#above ul {
  padding: 0 16px;
}

#leftRightFlexWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#leftRightFlexWrap section {
  /* display: inline-block; */
  /* background-color: #102448; */
  background-color: #243b53;
  height: 800px;
  width: 380px;
  margin: 20px 20px;
  line-height: 1.2;
}

#leftRightFlexWrap h1 {
  margin: 10px;
}

#leftRightFlexWrap ul {
  padding-left: 20px;
  margin: 0 auto;
}

#amMain article {
  background-color: #243b53;
}

footer {
  background-color: #353535;
  height: 40px;
  bottom: 0;
}

/* @media only screen and (max-width: 500px) {

} */